<!DOCTYPE html>
<html>
  <head>  
    <% include ../template/intro_meta %>
    <title>淘一个——关于我们</title>
  </head>

  <body> 
    <header>
      <div class="container">
        <a href="<%=global.appConfig.mhost%>">立即访问淘一个触屏版</a>
      </div>
    </header>   
  	<div class="container">
      <div class="intro-wrapper">
        <h2>投资团队</h2>
        <div class="inner">

            <div class="fl">
              <div class="person">
                <div class="photo">
                  <img src="<%=global.appConfig.shost%>/images/intro/person_01.jpg">
                </div>
                <div class="intro">
                  <div class="title">
                    <p class="t1">徐小平</p>
                    <p class="t2">真格基金创始人、知名天使投资人</p>
                  </div>
                  <div class="details">
                    徐小平老师1956年生，江苏泰兴人，毕业于中央音乐学院，后在北京大学任教。曾经赴美和加拿大留学定居，获得加拿大萨斯卡彻温大学音乐学硕士学位。后来开创了新东方的留学咨询事业，被誉为最有名的人生规划师。2010年创办了真格基金，表示投资就要动真格，先后投资了上百家创业企业，以鼓励创业和创新精神，成为中国最知名的天使投资人。徐小平老师的投资风格是甩手掌柜，只给钱不添乱，被人誉为“天使中的天使”。投资代表案例：世纪佳缘，聚美优品，91外教网。
                  </div>
                </div>
              </div>

              <div class="person">
                <div class="photo">
                  <img src="<%=global.appConfig.shost%>/images/intro/person_02.jpg">
                </div>
                <div class="intro">
                  <div class="title">
                    <p class="t1">周哲Jeremy</p>
                    <p class="t2">知名天使投资人</p>
                  </div>
                  <div class="details">
                    周哲先生英文名Jeremy，1976年出生于广东潮汕，小学时搬到香港，2000年毕业于美国斯坦福大学电气工程专业硕士学位。毕业后进入互联网公司谷歌(Google)，成为谷歌最早的一批员工，也是最早的华人员工。先后做过广告(Google AdWords)，通讯系统(Gmail, Google Talk)，音乐(Google Music)等项目。2008年开始从事个人天使投资。作一名天使投资人，周哲先生为自己制定了特有的标准：绝不控股，不会参与日常公司的运作和管理，不过只要对象需要都乐意提供帮助，包括可以无利息借款帮助资金周转，甚至可以把自己的车提供出来作为接待车辆。投资代表案例：兰亭集势。
                  </div>
                </div>                
              </div>
            </div>

            <div class="fr code-image-box">
              <dl class="code-image">
                <dt>访问淘一个，开始闪购</dt>
                <dd>
                  <img src="<%=global.appConfig.shost%>/images/intro/code_a.png">
                </dd>
              </dl>
              <dl class="code-image">
                <dt>有疑问，咨询客服</dt>
                <dd>
                  <img src="<%=global.appConfig.shost%>/images/intro/code_b.png">
                </dd>
              </dl>
              <dl class="code-image">
                <dt>可信认证，放心购物</dt>
                <dd>

                    <a href="https://ss.knet.cn/verifyseal.dll?sn=e14110411010855801c9uw000000&amp;ct=df&amp;a=1&amp;pa=0.21274033235386014" id="kx_verify" target="_blank" style="display:inline-block;"><img src="http://rr.knet.cn/static/images/logo/cnnic.png" style="border:none;" oncontextmenu="return false;" alt="可信网站"></a>
                </dd>
                <dd>    
                    <a href="http://si.trustutn.org/info?sn=732141104009206240821" target="_blank"><img src="http://v.trustutn.org/images/cert/bottom_large_img.png" width="127" alt="实名认证" title="实名认证"></a>

                </dd>
              </dl>
            </div>
        </div>
      </div>
  	</div>
    <footer>
      <div class="container">
        <p>Copyright © 2014 www.taoyige.com</p>
        <p>京ICP备11043309号-8</p>
      </div>  
    </footer>
  </body>
</html>
